ul {
    list-style: none;
 }
 
 ul li::before {
    content: "User:";
 }

.chatBackground {
   background: #EDC218;
   background: linear-gradient(180deg, #EDC218, #D1C523);
   padding-bottom: 100vh;
}